<% include ../partials/header %>


<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1 centered">
            <div class="thumbnail">
                <div class="caption-full">
                    <h4 style="font-size: 30px;" class="text-<% if (question.expiration_date == null) { %>primary<% } else { %>danger<% } %> text-center"><p><%=question.questionString%></p></h4>
                    <p>Progcont Link: <a href="<%= question.link %>"><%= question.link %></a></p>
                    <% if (question.code != "") { %>
                    <pre class="prettyprint">
                    	<code><%= question.code %></code>
                    </pre>
                    <% } %>
                    <p>
                        <em>Submitted by <%= question.author.username %></em>
                    </p>
                    <% if (currentUser && question.author.id.equals(currentUser._id)){ %>
                    	<% if (question.expiration_date == null && question.isSolved == false) { %>
                        	<a class="btn btn-xs btn-warning" href="/questions/<%= question._id %>/edit">Edit</a>
                        	<form id="delete-form" action="/questions/<%= question._id %>?_method=DELETE" method="POST">
                            	<button class="btn btn-xs btn-danger">Delete</button>
                        	</form>
                        	<form id="delete-form" action="/questions/<%= question._id %>/solved?_method=PUT" method="POST">
                            	<button class="btn btn-xs btn-success" style="float: right;">Mark as solved</button>
                        	</form>
                        <% } else { %>
                        	<form id="restore-form" action="/questions/<% if (question.isSolved == true) { %>solved<% } else { %>deleted<% } %>/<%= question._id %>/restore?_method=PUT" method="POST">
                            	<button class="btn btn-xs btn-success">Restore</button>
                        	</form>
                       	<% } %>
                    <% } %>
                </div>
            </div>
	        <div class="well">
	        	<% if (currentUser && question.expiration_date == null && question.isSolved == false) { %>
    		    	<div class="text-right">
		    	        <a class="btn btn-success" href="/questions/<%= question._id %>/comments/new">Add New Comment</a>
		            </div>
	            <% } %>
	            <hr>
	            <% question.comments.sort(function (a, b) { 
	            	if (b.isAccepted - a.isAccepted != 0)
	            		return b.isAccepted - a.isAccepted;
	            	else 
	            		return (b.upvoters.length - b.downvoters.length) - (a.upvoters.length - a.downvoters.length);
	             }); %>
	            <% question.comments.forEach(function(comment){ %>  
                    <div class="row <% if (comment.isAccepted) { %> bg-success <% } %>">
   		                 <div class="col-md-12" style="padding-top: 0.5%">
   		                 	  <% include ../comments/voting %>
	  	                      <strong style="padding-top: 1%;"><%= comment.author.username %></strong>
	                          <p style="padding-top: 1%;">
	  		                        <%= comment.text %>
	                          </p>
	                          <% if (currentUser && question.author.id.equals(currentUser._id) && comment.isAccepted == false) { %>
	                          	<form id="accept-comment" action="/questions/<%= question._id %>/comments/<%= comment._id %>/accept?_method=PUT" method="POST">                                   
	                             	<span class="pull-left" style="margin-right: 4px;"><button class="comment-btn-margin btn btn-xs btn-success">Accept</button></span>
                                 </form>
	                          <% } %>
	                          <% if (currentUser && comment.author.id.equals(currentUser._id)){ %>
		                         <a class="comment-btn-margin btn btn-xs btn-warning" href="/questions/<%= question._id %>/comments/<%= comment._id %>/edit">Edit</a>
	                             <form id="delete-comment" action="/questions/<%= question._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">                                   
	                             	<button class="comment-btn-margin btn btn-xs btn-danger">Delete</button>
                                 </form>
	                          <% } %>
	                     </div>
	                </div>
	            <% }) %>
	        </div>
        </div>
    </div>
</div>


<% include ../partials/footer %>